p {  /* for all the period except 4 a, b, and c */
  margin: 0;
  padding: 0;
  font-size: 42px;
  line-height: 46px;
} 



p { /* for periods 4 a, b, and c */
  margin: 0;
  padding: 0;
  font-size: 40.1px;
  line-height: 46px;
}

p { /* for period 7/time to go home */
  margin: 0;
  padding: 0;
  font-size: 42px;
  line-height: 46px;
}