.pointer {
  cursor: pointer;
}

.button16 {
  background-color: #787878; /* Green */
  border: none;
  outline: none;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.details {
  background-color: #1a535c;
  width: auto;
  height: auto;
  border-radius: 25px;
  padding: 10px;
  border: none;
  outline: none;
  color: #06d6a0;
  font-size: 2.5vh;
  font-weight: bold;
}

.setting {
  background-color: #1a535c;
  width: auto;
  height: auto;
  border-radius: 25px;
  padding: 10px;
  border: none;
  outline: none;
  color: #06d6a0;
  font-size: 2.5vh;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
