.pointer {cursor: pointer;}


.button16,
.button17,
.button18{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

