.div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

* {
  box-sizing: border-box;
}

.row4 {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column4 {
  background-color: white;
  float: left;
  width: 18%;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
  margin: 0px;
  position: absolute;
  top: 100%;
  right: 20%;
}
