.box {
  background-color: #00a896;
  width: 90%;
  border: 5px solid #264653;
  color: #f86624;
  font-weight: 900;
  height: 13.2vh;
  margin: 10px;
}

/** {
  box-sizing: border-box;
}*/

.row4 {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column4 {
  background-color: #05668d;
  float: left;
  width: 16%;
  height: 90%; /* Should be removed. Only for demonstration */
  margin: 0px;
  position: absolute;
  top: 200%;
  right: 20%;
}
