* {
  box-sizing: border-box;
}

.row2 {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column2 {
  background-color: white;
  display: none;
  display: block;
  float: left;
  width: 18%;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
  margin: 0px;
  position: absolute;
  top: 100%;
  right: 20%;
}





.row3 {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column3 {
  background-color: white;
  display: none;
  display: block;
  float: left;
  width: 18%;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
  margin: 0px;
  position: absolute;
  top: 100%;
  right: 20%;
}

