
* {
  box-sizing: border-box;
}

.row5 {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column5 {
  background-color: white;

  float: left;
  width:37%;
  padding: 2px;
  height: 90%;
  margin: -15px;
  position: absolute;
  top: 100%;
  right: 20%;
}
