* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  background-color: #00838F;
  float: right;
  width: 18%;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
  margin: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Clear floats after the columns */

/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/

ul {
  list-style-type: none;
}

.selector {
  color: #00E5FF;
  font-size: 3.8vh;
}
