* {
  padding: 0;
  margin: 0;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/*#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: black;
  url('https://backdrop.glitch.me/');
   no-repeat center ;
  z-index: 99999;
}*/

#names {
  color: white;
  font-family: Arial;
  position: absolute;
  top: 55%;
  transform: translateX(139%);
  margin-top: -170px;
}

#name1 {
  color: white;
  font-family: Arial;
  position: absolute;
  top: 49%;
  transform: translateX(13%);
  margin-top: -200px;
}

#name2 {
  color: white;
  font-family: Arial;
  position: absolute;
  top: 49%;
  transform: translateX(818%);
  margin-top: 40px;
}

/*h1 {  font-family: Helvetica, Arial, sans-serif;  text-align: center; font-size:70px; margin-top:240px; color:#fff;
	  text-shadow: 2px 2px 0px rgba(255,255,255,.7), 5px 7px 0px rgba(0, 0, 0, 0.1); 
}

background:#0063B1; */
