#one,
#two,
#three,
#x,
#five,
#six{  /* for all the period except 4 a, b, and c */
  margin: 5px;
  padding: 0px;
  font-size: 6vh;
  font-family: 'Roboto Mono', monospace;
} 



#a, 
#b, 
#c { /* for periods 4 a, b, and c */
  margin: 5px;
  padding: 0px;
  font-size: 6vh;
  font-family: 'Roboto Mono', monospace;
}

#seven { /* for period 7/time to go home */
  margin: 5px;
  padding: 0px;
  font-size: 6vh;
  font-family: 'Roboto Mono', monospace;
}