#Abutton {
    background-color:db3d3d;
    width:125px;
    height: 125px;
    border-radius: 50%;
    border:none;
    margin-right:5%;
    outline:none;
    color:black;
     font-size: 4em;
     font-weight:bold;
  }
  
   #Bbutton, #Cbutton, #Dbutton {
    background-color:white;
    width:125px;
    height: 125px;
    border-radius: 50%;
    border:none;
    margin-right:5%;
     outline:none;
     color:black;
     font-size: 4em;
     font-weight:bold;
  }
  
  .periods {
    color:gray;
    font-weight:bold;
    font-family:Arial;
    font-size: 5em;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  
 .time {
    color:white;
    font-weight:bold;
    font-family:Arial;
    font-size: 5em;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  
  .label {
    color:white;
    font-size: 4em;
    display:inline-block;
    margin-right:3%;
    font-family:Arial;
    margin-left:0%;
    margin-top: -50px;
     postiiton:static;
  }
  
  #period9 {
    color:db3d3d;
  }
