#Abutton {
  background-color:#db3d3d;
  width:40px;
  height: 40px;
  border-radius: 100%;
  border:none;
  outline:none;
  color:black;
  font-size: 1.5vw;
  font-weight:bold;
  margin-bottom: 0%;
}
  
#Bbutton{
  background-color:white;
  width:40px;
  height:40px;
  border-radius: 100%;
  border:none;
  outline:none;
  color:black;
  font-size: 1.5vw;
  font-weight:bold;
  margin-bottom: 0%;
}
  

#Cbutton{
  background-color:white;
  width:40px;
  height:40px;
  border-radius: 100%;
  border:none;
  outline:none;
  color:black;
  font-size: 1.5vw;
  font-weight:bold;
}
  
 .time {
    color:#f2eaec;
    font-weight:bold;
    font-family:Arial;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }


.time4 {
    color:#f2eaec;
    font-weight:bold;
    font-family:Arial;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

.timex {
    color:#f2eaec;
    font-weight:bold;
    font-family:Arial;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  
  
  
  #period9 {
  /*  color:db3d3d; */
    color: #00BD56;
  }
