#Abutton {
  background-color:db3d3d;
  width:50px;
  height: 50px;
  border-radius: 50%;
  border:none;
  outline:none;
  color:black;
  font-size: 2em;
  font-weight:bold;
}
  
#Bbutton, #Cbutton{
  background-color:white;
  width:50px;
  height:50px;
  border-radius: 50%;
  border:none;
  outline:none;
  color:black;
  font-size: 2em;
  font-weight:bold;
}
  
  .periods {
    color:#f2eaec;
    font-weight:bold;
    font-family:Arial;
    font-size: 7vh;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }


 .time {
    color:#f2eaec;
    font-weight:bold;
    font-family:Arial;
    font-size: 8vh;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

.time4 {
    color:#f2eaec;
    font-weight:bold;
    font-family:Arial;
    font-size: 8vh;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

.timex {
    color:#f2eaec;
    font-weight:bold;
    font-family:Arial;
    font-size: 7.89vh;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  
  .label {
    color:white;
    font-size: 4em;
    display:inline-block;
    margin-right:3%;
    font-family:Arial;
    margin-left:0%;
    margin-top: -50px;
     postiiton:static;
  }
  
  #period9 {
  /*  color:db3d3d; */
    color: #00BD56;
  }
