#Abutton {
  background-color:#db3d3d;
  width:auto;
  height: auto;
  border-radius: 100%;
  border:none;
  outline:none;
  color:black;
  font-size:2.5vh;
  font-weight:bold;
  margin-bottom: 0%;
}
  
#Bbutton{
  background-color:white;
  width:auto;
  height:auto;
  border-radius: 100%;
  border:none;
  outline:none;
  color:black;
  font-size: 2.5vh;
  font-weight:bold;
  margin-bottom: 0%;
}
  

#Cbutton{
  background-color:white;
  width:auto;
  height:auto;
  border-radius: 100%;
  border:none;
  outline:none;
  color:black;
  font-size: 2.5vh;
  font-weight:bold;
}
  
 .time {
    color:#f2eaec;
    font-weight:bold;
    font-family:Arial;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 7.45vh;
  }

 
 .time1 {
    color:#f2eaec;
    font-weight:bold;
    font-family:Arial;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 7.45vh;
  }


.time4 {
    color:red;
    font-weight:bold;
    font-family:Arial;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

.timex {
    color:#f2eaec;
    font-weight:bold;
    font-family:Arial;
    display:inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 7.4vh;
  }

  
  
  
  #period9 {
  /*  color:db3d3d; */
    color: #00BD56;
  }
