#Abutton {
  background-color: #118ab2;
  width: auto;
  height: auto;
  border-radius: 100%;
  border: none;
  outline: none;
  color: #073b4c;
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 0%;
}

#Bbutton {
  background-color: #90e0ef;
  width: auto;
  height: auto;
  border-radius: 100%;
  border: none;
  outline: none;
  color: #073b4c;
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 0%;
}

#Cbutton {
  background-color: #90e0ef;
  width: auto;
  height: auto;
  border-radius: 100%;
  border: none;
  outline: none;
  color: #073b4c;
  font-size: 2.5vh;
  font-weight: bold;
}

#period1,
#period2,
#period3,
#periodx,
#period4,
#period5,
#period6,
#period7,
#period8,
#period9 {
  color: #f2eaec;
  font-weight: bold;
  font-family: Arial;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#period9 {
  /*  color:db3d3d; */
  color: #00BD56;
}
