* {
  box-sizing: border-box;
}

.row5 {
  display: flex;

}

/* Create two equal columns that sits next to each other */
.column5 {
  float: left;
  width:39%;
  height: 90%;
  margin: -15px;
  position: absolute;
  top: 200%;
  right: 20%;
  border-color: #6E64E7;
}
