/* Adding styling for growl messages. */
.success-growl {
    background-color: #58b957;
    font-size: 1.5em;
}

.warning-growl {
    background-color: #f2ae43;
    font-size: 1.5em;
    color: black;
}

.failure-growl {
    background-color: #db524b;
    font-size: 1.5em;
}

p{
  color: #FB3569;
  font-weight: bold;
  font-family: Arial;
  font-size: 4vh;
}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  width:100% /* or you can also set 900px*/
}
ol{
  font-weight: bold;
}

a{
  color: #6E64E7;
  font-family: Arial;
}

}


